<h2>Movies List</h2>

<!-- <form action="/movies" method="post" align="right"> -->

<!-- Controls Pages
      How do I make page 1 the first page instead of page nil or 0? -->
  <!-- <div class="page">
    <label for="page">Page: </label>
    <a href="/movies?page=<%= params["page"].to_i - 1 %>">Previous</a>
    <input type="text" id="page" name="page" value="<%= params["page"] %>">
    <a href="/movies?page=<%= params["page"].to_i + 1 %>">Next</a>
  </div> -->
<!-- /Contol Pages -->

<!-- Controls Ordering Params
      How do I set the params value to be the preset so when the page changes the order and sort stays the same? -->
  <!-- <div class="order">
    <label for="order">Please select: </label>
    <input type="radio" id="order" name="order" value="title" required> Title</input>
    <input type="radio" name="order" value="year"> Year</input>
    <input type="radio" name="order" value="rating"> Rating</input>
  </div>
  <div class="sort">
    <input type="radio" id="sort" name="sort" value="" required> Accending</input>
    <input type="radio" name="sort" value="DESC"> Descending</input>
  </div> -->
<!-- /Control Ordering Params -->

  <!-- <div class="form-group">
    <input type="submit">
  </div>
</form> -->

<table>
  <tr>
    <th>Rating</th>
    <th>Movie</th>
    <th>Year</th>
    <th>Genre</th>
    <th>Studio</th>
  </tr>

  <% @movies_array.map do |movie| %>
    <tr>
      <td><%= movie["rating"] %></td>
      <td><a href="/movies/<%= movie["id"] %>"><%= movie["title"] %></td>
      <td><%= movie["year"] %></td>
      <td><%= movie["genre"] %></td>
      <td><%= movie["studio"] %></td>
    </tr>
  <% end %>
</table>
